@model PTSL.Ovidhan.Web.Core.Model.GeneralSetup.UnionVM
@{ ViewBag.Title = "Edit"; }
<style>
    input, select {
        height: 30px!important;
        line-height: 10px !important;
        font-weight: 400 !important;
        color: black !important;
    }

    legend {
        font-weight: 500 !important;
        font-size: 20px!important;
    }
</style>

<div class="card">
    <div class="card-header">
        <h4>
            <a href="/Union/Index" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Edit Union
        </h4>
        <button class="ml-auto reset btn btn-sm" onclick="resetFromData('#Form')">
            <svg class="rotate180z" width="16" height="16" viewBox="0 0 32 32">
                <path d="M25.95 7.65l.005-.004c-.092-.11-.197-.206-.293-.312c-.184-.205-.367-.41-.563-.603c-.139-.136-.286-.262-.43-.391c-.183-.165-.366-.329-.558-.482c-.16-.128-.325-.247-.49-.367c-.192-.14-.385-.277-.585-.406a13.513 13.513 0 0 0-.533-.324q-.308-.179-.625-.341c-.184-.094-.37-.185-.56-.27c-.222-.1-.449-.191-.678-.28c-.19-.072-.378-.145-.571-.208c-.246-.082-.498-.15-.75-.217c-.186-.049-.368-.102-.556-.143c-.29-.063-.587-.107-.883-.15c-.16-.023-.315-.056-.476-.073A12.933 12.933 0 0 0 6 7.703V4H4v8h8v-2H6.811A10.961 10.961 0 0 1 16 5a11.111 11.111 0 0 1 1.189.067c.136.015.268.042.403.061c.25.037.501.075.746.128c.16.035.315.08.472.121c.213.057.425.114.633.183c.164.054.325.116.486.178c.193.074.384.15.57.235c.162.072.32.15.477.23q.268.136.526.286c.153.09.305.18.453.276c.168.11.33.224.492.342c.14.102.282.203.417.312c.162.13.316.268.47.406c.123.11.248.217.365.332c.167.164.323.338.479.512A10.993 10.993 0 1 1 5 16H3a13 13 0 1 0 22.95-8.35z" fill="currentColor" />
            </svg>
            Reset
        </button>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Union", FormMethod.Post, new { id = "Form" }))
        {
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="CreatedAt" id="CreatedAt" value="@Model.CreatedAt" />
            <div class="form-horizontal">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Select Division <span style="color:red;">*</span>
                            </label>
                            @Html.DropDownList("DivisionId", null, "Choose..", htmlAttributes: new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>
                                Select District <span style="color:red;">*</span>
                            </label>
                            @Html.DropDownList("DistrictId", null, "Choose..", htmlAttributes: new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Select Upazilla <span style="color:red;">*</span>
                            </label>
                            @Html.DropDownList("UpazillaId", null, "Choose..", htmlAttributes: new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>
                                English Name
                            </label>
                            <input type="text" class="form-control" id="Name" name="@nameof(Model.Name)" value="@Model.Name" placeholder="Enter Union">
                        </div>
                     </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                         <div class="form-group">
                    <label>
                        Bangla Name
                    </label>
                    <input type="text" class="form-control" id="NameBn" name="@nameof(Model.NameBn)" value="@Model.NameBn" placeholder="Enter Union">
                </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary submit-btn pull-right btn-sm">Submit</button>
                </div>
            </div>
        }
    </div>

    <!--
    <hr />
    <div class="card-header pull-left">
        <a href="/Union/Index" class="btn btn-warning">Return to Index</a>
    </div>
    -->
</div>
<script>
    $(".submit-btn").on("click", function () {
        if ($("#Form").valid()) {
            $(".loader").fadeIn("slow");
        }
    });
    $("#Form").validate({
        rules: {
            DivisionId: "required",
            DistrictId: "required"
        },
    });

    $("#DivisionId").change(function () {
        var selectedItem = $(this).val();
        var DistrictList = $("#DistrictId");
        if (selectedItem == "" || selectedItem == null) {
            return true;
        }

        $.ajax({
            cache: false,
            type: "GET",
            url: "/Dropdown/ListDistrictByDivision",
            data: { "id": selectedItem },
            success: function (data) {
                console.log(data);
                DistrictList.html('<option value="">Choose..</option>');
                $.each(data, function (id, option) {
                    DistrictList.append($('<option></option>').val(option.Id).html(option.Name));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve data.');
            }
        });
    });

    $("#DistrictId").change(function () {
        var selectedItem = $(this).val();
        var UnionList = $("#UnionId");
        if (selectedItem == "" || selectedItem == null) {
            return true;
        }

        $.ajax({
            cache: false,
            type: "GET",
            url: "/Dropdown/ListUnionByDistrict",
            data: { "id": selectedItem },
            success: function (data) {
                console.log(data);
                UnionList.html('<option value="">Choose..</option>');
                $.each(data, function (id, option) {
                    UnionList.append($('<option></option>').val(option.Id).html(option.Name));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve data.');
            }
        });
    });
</script>